<h1>Admins/Questions#show</h1>
<%= @question.user.name %>
<%= @question.title %>
<%= @question.content %>
<%= @question.is_solved %>
<%= button_to '削除', admins_question_path(@question.id), method: :delete %>

<% @answers.each do |answer| %>
  <div>
    <%= answer.content %>
    <%= button_to '削除', admins_answer_path(answer.id), method: :delete %>
  </div>
<% end %>