<h1>Questions#show</h1>
<%= @question.user.name %>
<%= @question.title %>
<%= @question.content %>
<%= @question.is_solved %>

<%= link_to 'Edit question', edit_question_path(@question.id) %>
<%= button_to '解決済みにする', question_statuses_path(id: @question.id) %>
<%= button_to '未解決に戻す', question_status_path(id: @question.id), method: :delete %>

<%= form_with url: answers_path do |f| %>
  <%= f.label :content, '内容' %>
  <%= f.text_field :content %>
  <%= f.submit '登録'%>
<% end %>

<% @answers.each do |answer| %>
  <div>
    <%= answer.content %>
    <%= form_with url: answer_path(answer.id), method: "patch", data: { turbo: false }) do |f| %>
      <%= f.label :content, '内容' %>
      <%= f.text_field :content %>
      <%= f.hidden_field :question_id, value: @question.id %>
      <%= f.submit '変更'%>
    <% end %>
    <%= button_to '削除', answer_path(answer.id), method: :delete %>
  </div>
<% end %>