<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Q&A</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if logged_in? && current_user.is_admin %>
          <li class="nav-item"><%= button_to 'ログアウト', admins_logout_path, method: :delete, class: 'nav-link button-to-ink' %></li>
        <% elsif logged_in? && !current_user.is_admin %>
          <li class="nav-item"><%= link_to '質問を投稿', new_question_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'マイページ', user_path(current_user.id), class: 'nav-link' %></li>
          <li class="nav-item"><%= button_to 'ログアウト', logout_path, method: :delete, class: 'nav-link button-to-ink' %></li>
        <% else %>
          <li class="nav-item"><%= link_to '管理者ページ', admins_login_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'サインアップ', signup_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'ログイン', login_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>