<div id="question-area" class="card" style="width: 100%">
  <div class="card-body flex">
    <div class="left-part">  
      <div class="icon-area">          
        <% if question.user.image.attached? %>
          <%= image_tag question.user.image, class: "icon" %>
        <% else %>
          <%= image_tag 'default_user.png', class: "icon" %>
        <% end %>
      </div>
      <div style="text-align: center">
        <%= question.user.name %>
        <br />
        <%= question.created_at.to_s(:db) %>
      </div>
    </div>
    <div class="card-title" style="width: 100%;">
      <div class="right-part" style="display: flex;">
        <div style="width: 80%;">
          <div>
            <div style="margin-left: -10px">
              <%= render 'layouts/question_status_badge', question: question %>
            </div>
            <h4>
              <% if show_path.present? %>
                <%= link_to question.title, show_path %>
              <% else %>
                <%= question.title %>
              <% end %>
            </h4>
            <%= question.body.truncate(100) %>
          </div>
        </div>
        <div style="width: 20%">
          <% if is_for_admin? %>
            <div style="display: flex">
              <%= render 'layouts/question_delete_button', question: question %>
            </div>
          <% elsif !is_for_admin? && current_user == question.user %>
            <%= render 'layouts/solved_switch_control_button', question: question %>
            <div style="display: flex">
              <%= render 'layouts/question_edit_button', question: question %>
              <%= render 'layouts/question_delete_button', question: question %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
