<div class="tab-area">
  <div class="tab <%= 'active-tab' if active == 'all'%>">
    <%= link_to '全て', questions_path %>
  </div>
  <div class="tab <%= 'active-tab' if active == 'unsolved'%>">
    <%= link_to '未解決', unsolved_questions_path %>
  </div>
  <div class="tab <%= 'active-tab' if active == 'solved'%>">
    <%= link_to '解決', solved_questions_path %>
  </div>
</div>
